<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Trending Movies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (isLoading()) {
  <app-loading-skeleton></app-loading-skeleton>
  } @else if (error()) {
  <div class="error-banner">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <div class="error-content">
      <strong>¡Ups! Something went wrong!</strong>
      <p>{{ error() }}</p>
    </div>
    <ion-button fill="clear" color="light" (click)="loadMovies()">
      Try Again
    </ion-button>
  </div>
  } @else {
  <ion-list>
    @for (movie of movies(); track movie.id) {
    <ion-item :key="key">
      <ion-label>{{ movie.title }}</ion-label>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
